<div class="page">
  <!-- Start of Header -->
  <!-- ======================= -->

  <app-header></app-header>

  <!-- ======================= -->
  <!-- End of Header -->

  <!-- Start of Main Section -->
  <!-- ======================= -->

  <!-- <app-main-content></app-main-content> -->
  <router-outlet></router-outlet>

  <!-- ======================= -->
  <!-- End of Main Section -->
</div>

<app-login-popup></app-login-popup>

<!-- <app-alert></app-alert> -->

<!-- Start of post popup -->
<!-- ======================= -->

<!-- <div class="popup popup--open">
  <div class="popup__header">
      <div title="Close" class="close layout--center">
          X
      </div>
  </div>
  <div class="popup__body layout--center">
      <div class="popup__body-inner">

          <div class="form">
              <div class="form__title">
                  NEW <span class="highlight">#</span>RANT
              </div>
              <div class="form__description">
                  Express yourself with 140 characters.
              </div>
              <form name="new-rant">
                  <div class="new-rant">
                      <textarea maxlength="140"></textarea>

                      <div class="loader">
                          <div class="spinner"></div>
                      </div>

                      <div class="form__error">
                          Some fields are missing !
                      </div>

                      <input type="submit" value="POST">
                  </div>
              </form>
          </div>

      </div>
  </div>
</div> -->

<!-- ======================= -->
<!-- End of post popup -->

<!-- Start of comment popup -->
<!-- ======================= -->

<!-- <div class="popup popup--open">
  <div class="popup__header">
      <div title="Close" class="close layout--center">
          X
      </div>
  </div>
  <div class="popup__body layout--center">
      <div class="popup__body-inner">

          <div class="form">
              <div class="form__title">
                  NEW <span class="highlight">#</span>COMMENT
              </div>
              <div class="form__description">
                  Comment with 140 characters.
              </div>
              <form name="new-comment">
                  <div class="new-comment">
                      <textarea maxlength="140"></textarea>

                      <div class="loader">
                          <div class="spinner"></div>
                      </div>

                      <div class="form__error">
                          Some fields are missing !
                      </div>

                      <input type="submit" value="COMMENT"/>
                  </div>
              </form>
          </div>

      </div>
  </div>
</div> -->

<!-- ======================= -->
<!-- End of comment popup -->




