<div class="page">
  <!-- Start of Header -->
  <!-- ======================= -->

  <app-header></app-header>

  <!-- ======================= -->
  <!-- End of Header -->

  <!-- Start of Main Section -->
  <!-- ======================= -->

  <!-- <app-main-content></app-main-content> -->
  <router-outlet></router-outlet>

  <!-- ======================= -->
  <!-- End of Main Section -->
</div>

<app-login-popup></app-login-popup>

<!-- <app-alert></app-alert> -->

<app-new-post></app-new-post>

<app-new-comment></app-new-comment>






