<!-- Start of post popup -->
<!-- ======================= -->

<div class="popup popup--open" *ngIf="isOpen">
  <div class="popup__header">
      <div title="Close" class="close layout--center" (click)="closeNewPost()">
          X
      </div>
  </div>
  <div class="popup__body layout--center">
      <div class="popup__body-inner">

          <div class="form">
              <div class="form__title">
                  NEW <span class="highlight">#</span>RANT
              </div>
              <div class="form__description">
                  Express yourself with 140 characters.
              </div>
              <form name="new-rant"  [formGroup]="angForm"
              novalidate>
                  <div class="new-rant">
                      <textarea maxlength="140"></textarea>

                      <div class="loader">
                          <div class="spinner"></div>
                      </div>

                      <div class="form__error">
                          Some fields are missing !
                      </div>

                      <input type="submit" value="POST">
                  </div>
              </form>
          </div>

      </div>
  </div>
</div>

<!-- ======================= -->
<!-- End of post popup -->