<!-- Start of login popup -->
<!-- ======================= -->
<div *ngIf="isOpen">
  <div class="popup popup--open">
    <div class="popup__header">
      <div title="Close" class="close layout--center" (click)="closeLoginPopup()">
        X
      </div>
    </div>
    <div class="popup__body layout--center">
      <div class="popup__body-inner">
        <div class="form">
          <div class="form__title">
            JOIN <span class="highlight">#</span>DEVRANT
          </div>
          <div class="form__description">
            Vote and comment on others' rants. Post your own.
          </div>
          <form name="login">
            <div class="login">
              <input type="text" placeholder="USERNAME"  focus="true" />
              <input type="password" placeholder="PASSWORD" />

              <app-loader></app-loader>

              <div class="form__error">
                Some fields are missing !
              </div>

              <input type="button" value="LET ME IN" (click)="submitClick()"  />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ======================= -->
<!-- End of login popup -->
