<!-- Start of alert popup -->
<!-- ======================= -->

<div class="popup popup--open" *ngIf="isOpen">
  <div class="popup__header">
      <div title="Close" class="close layout--center" (click)="closeAlert()">
          X
      </div>
  </div>
  <div class="popup__body layout--center">
      <div class="popup__body-inner">

          <div class="form">
              <div class="form__title">
                  <span class="highlight">#</span>{{alertTitle}}!
              </div>
              <div class="form__description">
                  You can not vote on your own post :)
                  <!-- {{alertDescription}} -->
              </div>
              <form name="alert"  [formGroup]="angForm"
              novalidate>
                  <div class="alert">
                      <input type="submit" value="OK" (click)="closeAlert()" />
                  </div>
              </form>
          </div>

      </div>
  </div>
</div>

<!-- ======================= -->
<!-- End of alert popup -->